@model LoginViewModel
@{
    ViewData["Title"] = "Log in";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="text-center mb-3">
                    <label asp-for="@Model.Email" class="form-label"></label>
                    <input asp-for="@Model.Email" class="form-control" autocomplete="email" aria-required="true" />
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                <div class="text-center mb-3">
                    <label asp-for="@Model.Password" class="form-label"></label>
                    <input asp-for="@Model.Password" type="password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <div class="text-center">
                    <button id="login-submit" type="submit" class="btn btn-primary">Log in</button>
                </div>
            </form>


            @{
                if (Model.ExternalLogins.Count > 0)
                {
                        <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                            <div class="text-center mt-2">
                                @foreach (var provider in Model.ExternalLogins)
                            {
                                    <button type="submit" class="btn btn-outline-dark provider-btn" name="provider" value="@provider.Name"
                                        title="Login using your @provider.DisplayName account">
                                        <img style="margin-bottom:3px; width:20px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                                        Sign in with @provider.DisplayName
                                    </button>
                            }
                            </div>
                            <div id="my-signin2"></div>
                        </form>
                }
            }
        </section>

    </div>
</div>
