@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}

<section class="background-whitesmoke">
    <form asp-controller="Account" asp-action="Profile" enctype="multipart/form-data" method="post">
        <input type="hidden" asp-for="@Model.Id" />
        <div class="row py-2 m-1">
            <div class="row text-center" style="margin: 0 3px 1vh;">
                <div>
                    <div>
                        <div class="row">
                            <div class="col">
                                <p class="mb-0 color-gray fw-bold fs-2">@Model.UserName</p>
                                <span>
                                    <p class="d-inline fs-5">Rank:</p>
                                    @if (Model.Ranks.Any())
                                    {
                                        @foreach (var rank in Model.Ranks)
                                        {
                                            switch (rank)
                                            {
                                                case "Admin":
                                                    <p class="mb-0 color-darkred d-inline fs-5 fw-bold">@rank</p>
                                                    break;
                                                default:
                                                    <p class="mb-0 d-inline fs-5 color-darkgrey">@rank</p>
                                                    break;
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <p class="mb-0 fs-5 d-inline color-gray">Member</p>
                                    }
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center image-box">
                        <img class="img-fluid" id="pfp" referrerpolicy="no-referrer" src="@Model.Image" alt="Profile Picture"
                             style="width:15vw; border-radius:10px; margin-bottom:8px;">
                        <input type="file" class="custom-file-input" name="file" accept=".jpg, .png, .jpeg" />
                        <p id="selectedFile"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col" style="display:flex; justify-content:space-around;">
                                <a asp-action="ConfirmEmail" asp-controller="Account">
                                    <img class="verified-icons" src=@(Model.EmailConfirmed == true? "/static/pics/profile/mail-verified.png" : "/static/pics/profile/mail-not-verified.png") />
                                </a>
                                <img class="verified-icons" src=@(Model.PhoneConfirmed == true? "/static/pics/profile/phone-verified.png" : "/static/pics/profile/phone-not-verified.png") />
                                <img class="verified-icons" src=@(Model.TwoFactorEnabled == true? "/static/pics/profile/2fa-verified.png" : "/static/pics/profile/2fa-not-verified.png") />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card mb-1 background-lightgray fw-bold">
                    <div class="card-body">
                        <div class="row">
                            @if (Model.Region == "Unknown")
                            {
                                <p class="text-center">Region:</p>
                                <p class="text-danger">Choose carefully. To change again contact support!</p>
                                <div class="text-center mb-3">
                                    <select asp-for="@Model.RegionId" class="form-control">
                                        @foreach (var region in Model.Regions.OrderBy(x => x.Name))
                                        {
                                            if (region.Name == "Unknown")
                                            {
                                                <option selected="selected" value="@region.Id">-</option>
                                            }
                                            else
                                            {
                                                <option value="@region.Id">@region.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            }
                            else
                            {
                                <div class="col" style="display:flex; justify-content:space-around;">
                                    <p class="m-0">@Model.Region</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card mb-1 fw-bold">
                    <a class="text-decoration-none hover-darkorange color-green" asp-action="Joined" asp-controller="Event" asp-route-userId="@Model.Id">
                        <div class="card-body">
                            <div class="row">
                                <div class="col" style="display:flex; justify-content:space-around;">
                                    Your joined events >>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row" style="margin:0.3vh 0 1vw 0;">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row m-1">
                            <div class="col-sm-2">
                                <p class="mb-0" style="font-size:1.5vw; font-weight:bold;">Username</p>
                            </div>
                            <div class="col-sm-8">
                                <input asp-for="@Model.UserName" class="form-control" aria-required="true" value="@Model.UserName" />
                                <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row m-1">
                            <div class="col-sm-2">
                                <p class="mb-0" style="font-size:1.5vw; font-weight:bold;">Email</p>
                            </div>
                            <div class="col-sm-8">
                                <input asp-for="@Model.Email" class="form-control" aria-required="true" value="@Model.Email" />
                                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row m-1">
                            <div class="col-sm-2">
                                <p class="mb-0" style="font-size:1.5vw; font-weight:bold;">Phone</p>
                            </div>
                            <div class="col-sm-8">
                                <input asp-for="@Model.PhoneNumber" class="form-control" aria-required="true" value="@Model.PhoneNumber" />
                                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5"></div>
            <input class=" profile-save-btn" type="submit" value="Save Changes" />
        </div>
    </form>
</section>

<script>
    document.querySelector('input[name="file"]').addEventListener('change', (e) => {
        const file = e.target.files[0];
        document.querySelector('#selectedFile').textContent = file.name;
    });

</script>