@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}

<section class="background-whitesmoke">
    <form asp-controller="Account" asp-action="Profile" enctype="multipart/form-data" method="post">
        <input type="hidden" asp-for="@Model.Id" />
        <div class="row py-2 m-1">
            <div class="row text-center" style="margin: 0 3px 1vh;">
                <div>
                    <div>
                        <div class="row">
                            <div class="col">
                                <p class="mb-0 color-gray fw-bold fs-2">@Model.UserName</p>
                                <span>
                                    <p class="d-inline fs-5">Rank:</p>
                                @foreach (var rank in Model.Ranks)
                                {
                                    switch (rank)
                                    {
                                        case "Admin":
                                                <p class="mb-0 color-darkred d-inline fs-5 fw-bold">@rank</p>
                                            break;
                                        default:
                                                <p class="mb-0 d-inline color-gray">@rank</p>
                                            break;
                                    }
                                }
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img class ="img-fluid" id="pfp" referrerpolicy="no-referrer" src="@Model.Image" alt="Profile Picture"
                              style="width:15vw; border-radius:10px; margin-bottom:8px;">
                        <input type="file" class="custom-file-input" name="file" accept=".jpg, .png, .jpeg" />
                        <div class="d-flex justify-content-center mb-2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <p class="mb-0">Email Verified: @Model.EmailConfirmed</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin:0.3vh 0 1vw 0;">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row m-1">
                            <div class="col-sm-2">
                                <p class="mb-0" style="font-size:1.5vw; font-weight:bold;">Username</p>
                            </div>
                            <div class="col-sm-8">
                                <input asp-for="@Model.UserName" class="form-control" aria-required="true" value="@Model.UserName" />
                            </div>
                        </div>
                        <div class="row m-1">
                            <div class="col-sm-2">
                                <p class="mb-0" style="font-size:1.5vw; font-weight:bold;">Email</p>
                            </div>
                            <div class="col-sm-8">
                                <input disabled asp-for="@Model.Email" class="form-control" aria-required="true" value="@Model.Email" />
                            </div>
                        </div>
                        <div class="row m-1">
                            <div class="col-sm-2">
                                <p class="mb-0" style="font-size:1.5vw; font-weight:bold;">Phone</p>
                            </div>
                            <div class="col-sm-8">
                                <input asp-for="@Model.PhoneNumber" class="form-control" aria-required="true" value="@Model.PhoneNumber" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5"></div>
            <input class=" profile-save-btn" type="submit" value="Save Changes" />
        </div>
    </form>
</section>

<script>
    document.querySelector('input[name="file"]').addEventListener('change', (e) => {
        const file = e.target.files[0];
        document.querySelector('#selectedFile').textContent = file.name;
    });
</script>