@using Duplex.Core.Models.Event
@model IEnumerable<EventModel>

@{
    ViewBag.Title = "All Events";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var ev in Model)
        {
            <div class="col">
                <div class="card h-100">
                    <img src="@ev.ImageUrl" class="card-img-top height-100" alt="Event Image">
                    <div class="card-body">
                        <h5 class="card-title">@ev.Name</h5>
                        <span>
                            <img class="d-inline" src="/static/pics/coin.png" style="max-width:20px; padding-bottom:1px;">
                            <strong class="card-subtitle d-inline">@ev.EntryCost</strong>
                        </span>
                        <span>
                            <img class="d-inline" src="/static/pics/team-size.png" style="max-width:20px; padding-bottom:1px;">
                            <strong class="card-subtitle d-inline">@ev.TeamSize</strong>
                        </span>
                        <div>
                            <img class="d-inline" src="/static/pics/team-size.png" style="max-width:20px; padding-bottom:1px;">
                            <strong class="card-subtitle d-inline">@ev.Participants.Count()/@(ev.TeamSize * 2)</strong>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Created on @ev.CreatedOnUTC.ToShortDateString()</small>
                    </div>

                    <div class="float-end buttons">
                        <a asp-controller="Event" asp-action="Details" asp-route-id="@ev.Id" class="btn btn-primary">Details</a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-controller="Event" asp-action="Edit" asp-route-id="@ev.Id" class="btn btn-warning">Edit</a>
                            <button type="button" data-bs-toggle="modal" data-bs-target="#deleteEventModal@(ev.Id)" class="btn btn-danger">Delete</button>

                            <partial name="_DeleteEventModalPartial" model="@ev" />
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
