@using Duplex.Core.Models.Event
@using System.Security.Claims
@model DetailsEventModel

@{
    ViewBag.Title = "Event Details";
}

<div class="card mb-3 text-center d-flex justify-content-center align-items-center">
    <img src="@Model.ImageUrl" class="card-img-bottom mt-1" style="width:60vw;" alt="Event Image">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <span>
            <img class="d-inline" src="/static/pics/coin.png" style="max-width:20px; padding-bottom:1px;">
            <strong class="card-subtitle d-inline">@Model.EntryCost</strong>
        </span>
        <span>
            <img class="d-inline" src="/static/pics/team-size.png" style="max-width:20px; padding-bottom:1px;">
            <strong class="card-subtitle d-inline">@Model.TeamSize</strong>
        </span>
        <p class="card-text">@Model.Description</p>
        <p class="card-text"><small class="text-muted">Created on @Model.CreatedOnUTC.ToShortDateString()</small></p>
        <div class="buttons">
            @if(!Model.Participants.Any(x=> x.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier) && x.EventId == Model.Id))
            {
            <span class="buttons mt-1 mb-1">
                <a asp-controller="Event" asp-action="Join" asp-route-id="@Model.Id"
                   class="btn btn-primary">Join</a>
            </span>
            }
            @if (User.IsInRole("Admin"))
            {
                <span class="buttons mt-1 mb-1">
                    <a asp-controller="Event" asp-action="Edit" asp-route-id="@Model.Id"
                   class="btn btn-primary">Edit</a>
                </span>
                <span class="buttons mt-1 mb-1">
                    <a asp-controller="Event" asp-action="Delete" asp-route-id="@Model.Id"
                   class="btn btn-primary">Delete</a>
                </span>
            }
        </div>
    </div>
</div>