@using Duplex.Core.Models.Prize
@model IEnumerable<PrizeModel>

@{
    ViewBag.Title = "All Prizes";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />


<div class="text-center">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var prize in Model)
        {
            <div class="col">
                <div class="card h-100">
                    <img src="@prize.ImageUrl" class="card-img-top height-100" alt="Event Image">
                    <div class="card-body">
                        <h5 class="card-title">@prize.Name</h5>
                        <span>
                            <img class="d-inline" src="/static/pics/coin.png" style="max-width:20px; padding-bottom:1px;">
                            <strong class="card-subtitle d-inline dec-none">@prize.Cost</strong>
                        </span>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Added on @prize.CreatedOnUTC.ToShortDateString()</small>
                    </div>
                    <div class="float-end buttons">
                        <a asp-controller="Prize" asp-action="Details" asp-route-id="@prize.Id" class="btn btn-primary">Details</a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-controller="Prize" asp-action="Edit" asp-route-id="@prize.Id" class="btn btn-warning">Edit</a>
                            <button type="button" data-bs-toggle="modal" data-bs-target="#deletePrizeModal@(prize.Id)" class="btn btn-danger">Delete</button>

                            <partial name="_DeletePrizeModalPartial" model="@prize"/>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>