@using Duplex.Infrastructure.Data.Models.Account
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item" style="margin-right:10px;">
            <span class="nav-link">
                <img src="/static/pics/coin.png" style="max-width:22px;">
                <a class="text-dark dec-none" title="Duplex Coins">@UserManager.GetUserAsync(User).Result.Coins</a>
            </span>
        </li>
        <li class="nav-item" style="margin-right:20px;">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="@TempData.Peek("UserImage")" class="border-bottom text-success rounded" style="max-width:5vw;" title="@User.Identity.Name" />
                </button>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Profile" asp-route-id="@UserManager.GetUserAsync(User).Result.Id">Profile</a>
                    </li>
                    <li>
                        <a class="nav-link" asp-controller="Account" asp-action="Logout" asp-route-id="@UserManager.GetUserId(User)">Logout</a>
                    </li>
                </ul>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>
