@using Duplex.Infrastructure.Data.Models.Account
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    if (User != null)
    {
        <script>console.log("Damnnn")</script>
        var id = @UserManager.GetUserId(User);
        var user = await UserManager.FindByIdAsync(id);
        TempData["UserImage"] = user.Image;
    }
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item" style="margin-right: 10px;">
            @if (@UserManager.GetUserAsync(User).Result.DailyAvailable)
            {
                <span class="nav-link">
                    <a asp-action="DailyFree" asp-controller="Account" asp-area="" class="a-available">Daily Free</a>
                </span>
            }
            else
            {
                <span class="nav-link">
                    <a asp-action="DailyFree" asp-controller="Account" asp-area="" class="a-unavailable">Daily Free</a>
                </span>
            }
        </li>
        <li class="nav-item" style="margin-right:10px;">
            <span class="nav-link">
                <img referrerpolicy="no-referrer" src="/static/pics/coin.png" style="max-width:22px;">
                <a class="text-dark dec-none fw-bold" title="Duplex Coins">@UserManager.GetUserAsync(User).Result.Coins</a>
            </span>
        </li>
        <li class="nav-item" style="margin-right:20px;">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img referrerpolicy="no-referrer" src="@TempData.Peek("UserImage")" class="border-bottom text-success rounded login-partial-img" title="@User?.Identity?.Name" />
                </button>

                <ul class="dropdown-menu" style="padding:1px 0; margin-top:2px; right:0!important; left:auto; text-align:center;" aria-labelledby="dropdownMenuButton1">
                    <li>
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Profile" asp-route-id="@UserManager.GetUserAsync(User).Result.Id">Profile</a>
                    </li>
                    <li><hr class="m-0" /></li>
                    <li>
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout" asp-route-id="@UserManager.GetUserId(User)">Logout</a>
                    </li>
                </ul>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>
