@model LastThreeEventsModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p class="display-1">Latest Events</p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var ev in Model.Events)
        {
            <div class="col">
                <div class="card h-100">
                    <img src="@ev.ImageUrl" class="card-img-top height-100" alt="Event Image">
                    <div class="card-body">
                        <h5 class="card-title">@ev.Name</h5>
                        <span>
                            <img class="d-inline" src="/static/pics/coin.png" style="max-width:20px; padding-bottom:1px;">
                            <strong class="card-subtitle d-inline">@ev.EntryCost</strong>
                        </span>
                        <div>
                            <img class="d-inline" src="/static/pics/team-size.png" style="max-width:20px; padding-bottom:1px;">
                            <strong class="card-subtitle d-inline">@ev.Participants.Count()</strong>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Created on @ev.CreatedOnUTC.ToShortDateString()</small>
                    </div>
                    <span class="buttons mt-1 mb-1">
                        <a asp-controller="Event" asp-action="Details" asp-route-id="@ev.Id" class="btn btn-primary">Details</a>
                    </span>
                </div>
            </div>
        }
    </div>
</div>
<div class="text-center mt-2">
    <a class="text-decoration-none h4 hover-darkorange color-dodgerblue" asp-controller="Event" asp-action="All">More events >></a>
</div>
